ol7-compute-instance-w-bootvol/.terraform/plugins/linux_amd64/*
ol7-compute-instance-w-bootvol/terraform.tfstate
ol7-compute-instance-w-bootvol/terraform.tfstate.backup
ol7-compute-instance-w-bootvol/.terraform.tfstate.lock.info
